.form-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #f1f1f1;
    color: #444;
    top: 10px;
    height: 30px;
    width: 30px;
    border: 0;
    cursor: pointer;
    margin-right: 7px;
    outline-style: solid;
    outline-width: 1px;
}
.form-radio:checked::before {
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     font-weight: bold;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}

.m3 { background-color: red;    }
.m2 { background-color: orange; }
.m1 { background-color: orange; }
.zr { background-color: white;  }
.p1 { background-color: lime;   }
.p2 { background-color: lime;   }
.p3 { background-color: green;  }
