.meeting {
  background: #999;
  border: 1px solid #333;
}

.meeting .header {
  background: #333;
}

.meeting .footer {
  color: #000;
}

.meeting .footer span i{
  display: none;
}

.meeting-shadow {
  background: #aaa;
  border: 1px solid #999;
}

.unitime-PageHeader .logo {
    background-image: url(/static/EII.png);
    background-size: 100% 100%;
    min-width: 160px;
    height: 80px;
    margin: 5px;
    display: inline-block;
}

