{% extends "base.html" %}
{% set active_sec = 'Test' %}
{% block head %}

    {% if not auth or aa.uid != 'francisco.moya' %}
    <meta http-equiv="refresh" content="0; URL={{login_url}}">
    {% endif %}
{% endblock %}
{% block content %}

  <div class="text-danger" id="errors"></div>
  <form onsubmit="postUI(this); return false;">

    {{ form.hidden_tag() }}
    <input id="nombre" type="hidden"></input>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="chooserid">Profesor</label> 
            <select id="chooserid" class="form-control"></select>
        </div>
        <div class="form-group col-md-6">
            <div>&nbsp;</div> 
            <div class="form-check bottom-column">
                <input class="form-check-input" id="head" name="sexenio_vivo" type="checkbox"></input>
                <label class="form-check-label" for="head">Jefe de área</label>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form.departamento.label(for='deptid') }} 
            <select id="deptid" class="form-control"></select>
        </div>
        <div class="form-group col-md-6">
            {{ form.area.label(for='areaid') }} 
            <select id="areaid" class="form-control"></select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form.categoria.label(for='categoria') }} 
            <select id="catid" class="form-control"></select>
        </div>
        <div class="form-group col-md-6">
            {{ form.email.label(for='email') }} 
            {{ form.email(class='form-control', id='email') }}    
        </div>
    </div>    
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form.telefono.label(for='telefono') }} 
            {{ form.telefono(class='form-control', id='telefono') }}
        </div>
        <div class="form-group col-md-6">
            {{ form.despacho.label(for='depacho') }} 
            {{ form.despacho(class='form-control', id='despacho') }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            {{ form.sexenios.label(for='sexenios') }} 
            {{ form.sexenios(class='form-control', id='sexenios', value='0') }}
            <div class="form-check">
                {{ form.sexenio_vivo(class='form-check-input', id='sexenio_vivo') }}
                {{ form.sexenio_vivo.label(for='sexenio_vivo', class='form-check-label') }}
            </div>
        </div>
        <div class="form-group col-md-3">
            {{ form.quinquenios.label(for='quinquenios') }} 
            {{ form.quinquenios(class='form-control', id='quinquenios', value='0') }}
        </div>
        <div class="form-group col-md-6">
            {{ form.acreditacion.label(for='acreditacion') }} 
            {{ form.acreditacion(class='form-control', id='acreditacion') }}
        </div>
    </div>    
    <button id="actualizar" class="btn btn-primary" type="submit" disabled>
        Actualizar
        <span id="pending" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button>

  </form>
  <script src="/static/profesores.js"></script>
  <script>
        function updateUI() {
            const user = uid.options[uid.selectedIndex].value;
            getProfesor(user);
            pending(false);
        }

        function postUI(form) {
            const user = uid.options[uid.selectedIndex].value;
            setProfesor(user, form);
        }

        const uid = document.getElementById('chooserid');
        const areaid = document.getElementById('areaid');
        const deptid = document.getElementById('deptid');
        const catid = document.getElementById('catid');
        uid.onchange = updateUI;

        function getOptions() {
            pending(true);
            var req = new XMLHttpRequest();
            req.onload  = function() {
                var resp = JSON.parse(req.responseText);
                for (var i = 0; i < resp.length; ++i) {
                    const p = resp[i];
                    uid.options.add(new Option(p.sn + ', ' + p.givenName, p.userid));
                    areaid.options.add(new Option(p.area, p.areaid));
                    deptid.options.add(new Option(p.departamento, p.deptid));
                    catid.options.add(new Option(p.categoria, p.catid));
                }
                uid.options[0].selected = true;
                updateUI();
            };
            req.open('GET', '/v2/profesores.expandidos/por_sn/', true);
            req.send();
        }

        getOptions();
  </script>
{% endblock %}
