{% extends "base.html" %}
{% set active_sec = 'Test' %}
{% block head %}

    {% if not auth or aa.uid != 'francisco.moya' %}
    <meta http-equiv="refresh" content="0; URL={{login_url}}">
    {% endif %}

{% endblock %}
{% block content %}

  <div class="text-danger" id="errors"></div>
  <form onsubmit="postUI(this); return false;">

    {{ form.hidden_tag() }}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="userid">Usuario</label> 
            <select id="userid" class="form-control">
                <option value="francisco.moya" selected>francisco.moya</option>
                <option value="fernando.castillo">fernando.castillo</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="nombre">Nombre</label> 
            <input id="nombre" class="form-control" type="text" disabled>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="department">Departamento</label> 
            <input id="department" class="form-control" type="text" disabled>
        </div>
        <div class="form-group col-md-6">
            {{ form.area.label(for='area') }} 
            {{ form.area(class='form-control', id='area') }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="title">Categoría</label> 
            <input id="title" class="form-control" type="text" disabled>
        </div>
        <div class="form-group col-md-6">
            <label for="mail">Correo-e</label> 
            <input id="mail" class="form-control" type="text" disabled>
        </div>
    </div>    
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form.telefono.label(for='telefono') }} 
            {{ form.telefono(class='form-control', id='telefono') }}
        </div>
        <div class="form-group col-md-6">
            {{ form.despacho.label(for='depacho') }} 
            {{ form.despacho(class='form-control', id='despacho') }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            {{ form.sexenios.label(for='sexenios') }} 
            {{ form.sexenios(class='form-control', id='sexenios', value='0') }}
            <div class="form-check">
                {{ form.sexenio_vivo(class='form-check-input', id='sexenio_vivo') }}
                {{ form.sexenio_vivo.label(for='sexenio_vivo', class='form-check-label') }}
            </div>
        </div>
        <div class="form-group col-md-3">
            {{ form.quinquenios.label(for='quinquenios') }} 
            {{ form.quinquenios(class='form-control', id='quinquenios', value='0') }}
        </div>
        <div class="form-group col-md-6">
            {{ form.acreditacion.label(for='acreditacion') }} 
            {{ form.acreditacion(class='form-control', id='acreditacion') }}
        </div>
    </div>
    <button id="actualizar" class="btn btn-primary" type="submit" disabled>
        Actualizar
        <span id="pending" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button>

  </form>
  <script src="/static/datos_profesionales.js"></script>
  <script>
        function updateUI() {
            const user = uid.options[uid.selectedIndex].value;
            getADDataForUser(user);
            getDatosProfesionalesForUser(user);
            pending(false);
        }
        function postUI(form) {
            const user = uid.options[uid.selectedIndex].value;
            setDatosProfesionalesForUser(user, form);
        }
        const uid = document.getElementById('userid');
        uid.onchange = updateUI;
        updateUI();
  </script>
{% endblock %}
