{% extends "base.html" %}
{% set active_sec = 'Test' %}
{% block head %}

    {% if not auth %}
    <meta http-equiv="refresh" content="0; URL={{login_url}}">
    {% endif %}

{% endblock %}
{% block content %}
  <h1>Datos personales</h1>
  <form action="" method="post" novalidate>

    
    <div class="form-group row ">
        <label for="nombre" class="col-2">Nombre:</label> <input id="nombre" class="form-control col-8" value="{{ '{} {}'.format(aa.givenName, aa.sn) }}" type="text" disabled>
    </div>
    <div class="form-group row">
        <label for="despacho" class="col-sm-2">{{ form.despacho.label }}:</label> {{ form.despacho(class='form-control col-sm-3', id='despacho') }}
        <label for="telefono" class="col-sm-2">{{ form.telefono.label }}:</label> {{ form.telefono(class='form-control col-sm-3', id='telefono') }}
    </div>
    <div class="form-group row ">
        <label for="area" class="col-sm-2">{{ form.area.label }}:</label> {{ form.area(class='form-control col-sm-8', id="area") }}
    </div>
    <div class="form-group row">
        <label for="acreditacion" class="col-sm-2">{{ form.acreditacion.label }}:</label> {{ form.acreditacion(class='form-control col-sm-2', id='acreditacion') }}
    </div>
    <div class="form-group row">
        <label for="quinquenios" class="col-sm-2">{{ form.quinquenios.label }}:</label> {{ form.quinquenios(class='form-control col-sm-2', id='quinquenios') }}
    </div>
    <div class="form-group row">
        <label for="sexenios" class="col-sm-2">{{ form.sexenios.label }}:</label> {{ form.sexenios(class='form-control col-sm-2', id='sexenios') }}
    </div>
    <div class="form-check">
        {{ form.sexenio_vivo(class='form-check-input', id='sexenio_vivo') }}
        <label for="sexenio_vivo" class="form-check-label">{{ form.sexenio_vivo.label }}</label>
    </div>
    {{ form.submit(class="btn btn-primary") }}

  </form>
{% endblock %}
