{% extends "base.html" %}
{% set active_sec = 'Test' %}
{% block head %}

    {% if not auth %}
    <meta http-equiv="refresh" content="0; URL={{login_url}}">
    {% endif %}

{% endblock %}
{% block content %}

    <h1>Asignación de docencia</h1>

    <div class="text-danger" id="errors"></div>
    <form onsubmit="postUI(this); return false;">
        <input id="userid" type="hidden"></input>
        <input id="areaid" type="hidden"></input>
        <input id="head" type="hidden"></input>
        
        {% if auth and aa.uid == 'francisco.moya' %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="profesor">En representación de</label> 
                <select id="profesor" class="form-control"></select>
            </div>
            <div class="form-group col-md-6">
                <label for="area">Area</label> 
                <input id="area" class="form-control" disabled></input>
            </div>
        </div>
        {% endif %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="chooserid">Profesor</label> 
                <select id="chooserid" class="form-control"></select>
            </div>
            <div class="form-group col-md-4">
                <label for="sarea">Area o agrupación</label> 
                <input id="sarea" class="form-control" disabled></input>
            </div>
            <div class="form-group col-md-2">
                {% if auth %}
<!--
                <label>&nbsp;</label>
-->
                <a href="/v2/horario/{{aa.uid}}" class="btn btn-outline-primary btn-lg btn-block" role="button"><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i> Mi horario</a>
                {% endif %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <fieldset>
                    <legend>Asignaturas del área</legend>
                    <div id="docencia">
                        <table class="table">
                            <thead>
                                <tr class="headings">
                                    <th scope="col">Curso</th>
                                    <th scope="col">Título</th>
                                    <th scope="col">Asignatura</th>
                                    <th scope="col">Teoría</th>
                                    <th scope="col">Lab.</th>
                                </tr>
                            </thead>
                            <tbody id="docenciaRows"></tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>
        <button id="actualizar" class="btn btn-primary" type="submit" disabled>
            Guardar
            <span id="pending" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
    </form>

    <script src="/static/docencia.js"></script>
    <script>
        getProfesor('{{ aa.uid }}');
        {% if auth and aa.uid == 'francisco.moya' %}
        getAllProfesores('{{ aa.uid }}');
        {% endif %}
    </script>
{% endblock %}
