{% extends "base.html" %}
{% set active_sec = 'Test' %}
{% block head %}

  {% if not auth %}
  <meta http-equiv="refresh" content="0; URL={{login_url}}">
  {% endif %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}
{% block content %}

<div id="justificantesUI" style="display:block;">

  <h1>Justificantes</h1>

  {% if auth %}
  <form id="justificanteForm" action="javascript:;" method="POST" enctype="multipart/form-data" 
        onsubmit="postJustificantesForUser('{{aa.uid}}', this)">
    {{ form.csrf_token }}
    <input type="hidden" id="userid" value="{{aa.uid}}">
    <div class="form-row">
        <div class="form-group">
            {{ form.justificante.label(for='justificante') }} 
            {{ form.justificante(class='form-control', id='justificante') }}
        </div>
    </div>
    {{ form.submit(class='btn btn-primary') }}
  </form>

  <table class="table table-hover mt-4">
    <thead>
      <tr>
        <th>Justificante</th>
        <th>Fecha</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="justificantesTab">
    </tbody>
  </table>
  {% endif %}

</div>
  <!--
  <script src="/static/datos_profesionales.js"></script>
  -->
  <script>
    //getADDataForUser("{{aa.uid}}");
    //getDatosProfesionalesForUser("{{aa.uid}}");

    function fillJustificantes(uid, data) {
      const tab = document.querySelector("#justificantesTab");
      tab.innerHTML = '';
      const just = data.justificantes;
      for (i in just) {
        const f = just[i];
        var tr = document.createElement('TR');
        tr.innerHTML = '<td><i class="fa fa-file mr-1"></i>' +
          '<a href="/static/' + uid + '/' + f[0]  + '">' + f[0] + 
          '</a></td><td>' + f[1] + '</td><td>' + 
          '<i class="fa fa-trash text-dark" onclick="deleteJustificanteForUser(\'' + 
          uid + '\', \'' + f[0] + '\')"></i></td>';
        tab.appendChild(tr);
      }
    }

    function getJustificantesForUser(userid) {
      var req = new XMLHttpRequest();
      req.onload  = function() {
        var data = (req.status < 300 ? JSON.parse(req.responseText) : { 'justificantes': [] });
        fillJustificantes(userid, data);
      };
      req.open('GET', '/v1/justificantes/' + userid, true);
      req.send();
    }

    function postJustificantesForUser(userid, form) {
      var req = new XMLHttpRequest();
      req.onload  = function() {
        if (req.status < 300)
          fillJustificantes(userid, JSON.parse(req.responseText));
      };
      var formData = new FormData(form);
      for (var [key, value] of formData.entries()) { 
        console.log('entry', key, value);
      }
      req.open('POST', '/v1/justificantes/' + userid, true);
      req.send(formData);
      return false;
    }

    function deleteJustificanteForUser(userid, filename) {
      var req = new XMLHttpRequest();
      req.onload  = function() {
        var data = (req.status < 300 ? JSON.parse(req.responseText) : { 'justificantes': [] });
        fillJustificantes(userid, data);
      };
      var formData = new FormData();
      formData.append("justificante", filename);
      req.open('DELETE', '/v1/justificantes/' + userid, true);
      req.send(formData);
    }

    getJustificantesForUser('{{aa.uid}}');
  </script>
{% endblock %}
