{% extends "base.html" %}
{% set active_sec = 'Inicio' %}
{% block head %}

    {% if not auth %}
    <meta http-equiv="refresh" content="0; URL={{login_url}}">
    {% endif %}

{% endblock %}
{% block content %}
  <h1>Datos profesionales</h1>

  <div class="text-danger" id="errors"></div>
  <form action="javascript:;" 
        onsubmit="setProfesor('{{aa.uid}}', this); return false;">
    {{ form.hidden_tag() }}
    <input id="head" type="hidden"></input>
    <div class="form-group">
        <label for="nombre">Nombre</label> 
        <input id="nombre" class="form-control" type="text" disabled>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form.departamento.label(for='departamento') }} 
            {{ form.departamento(class='form-control', id='departamento', disabled=True) }}
        </div>
        <div class="form-group col-md-6">
            {{ form.area.label(for='area') }} 
            {{ form.area(class='form-control', id='area', disabled=True) }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form.categoria.label(for='categoria') }} 
            {{ form.categoria(class='form-control', id='categoria', disabled=True) }}
        </div>
        <div class="form-group col-md-6">
            {{ form.email.label(for='email') }} 
            {{ form.email(class='form-control', id='email', disabled=True) }}    
        </div>
    </div>    
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form.telefono.label(for='telefono') }} 
            {{ form.telefono(class='form-control', id='telefono') }}
        </div>
        <div class="form-group col-md-6">
            {{ form.despacho.label(for='depacho') }} 
            {{ form.despacho(class='form-control', id='despacho') }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            {{ form.sexenios.label(for='sexenios') }} 
            {{ form.sexenios(class='form-control', id='sexenios', value='0') }}
            <div class="form-check">
                {{ form.sexenio_vivo(class='form-check-input', id='sexenio_vivo') }}
                {{ form.sexenio_vivo.label(for='sexenio_vivo', class='form-check-label') }}
            </div>
        </div>
        <div class="form-group col-md-3">
            {{ form.quinquenios.label(for='quinquenios') }} 
            {{ form.quinquenios(class='form-control', id='quinquenios', value='0') }}
        </div>
        <div class="form-group col-md-6">
            {{ form.acreditacion.label(for='acreditacion') }} 
            {{ form.acreditacion(class='form-control', id='acreditacion') }}
        </div>
    </div>
    <button id="actualizar" class="btn btn-primary" type="submit" disabled>
        Actualizar
        <span id="pending" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button>

  </form>
  <script src="/static/profesores.js"></script>
  <script>
    getProfesor("{{aa.uid}}");
    pending(false);
  </script>
{% endblock %}
