{% extends "base.html" %}
{% set active_sec = 'Desiderata' %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/desiderata.css">
    {% if not auth %}
        <meta http-equiv="refresh" content="0; URL=/">
    {% endif %}
{% endblock %}
{% block content %}

    {% if auth %}

    <h1>Desiderata de horarios para {{attr.givenName}} {{attr.sn}}</h1>

    <div class="table-responsive-xl">
        <table class="table table-bordered table-dark table-sm">
            <thead>
                <tr height="45">
                    <th>
                        <div id="pending" class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </th>
                    {% for h in range(8,20) %}
                    <th scope="col" class="text-center">{{h}}:30</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody class="timetable"></tbody>

            <caption>
                {% for v, lbl in (('p3','Seguro que sí'), 
                                  ('p1','Mejor sí'), 
                                  ('zr','Indiferente'), 
                                  ('m1','Mejor no'), 
                                  ('m3','Seguro que no')) %}
                <div class="form-check form-check-inline">
                    <input type="radio" name="demo" value="{{v}}" id="radio-{{v}}" class="form-radio {{v}}" {{'checked' if v=='zr' else None}}>
                    <label for="radio-{{v}}" class="form-check-label">{{lbl}}</label>
                </div>
                {% endfor %}
            </caption>
        </table>

        <details>
            <summary>Rellenar de acuerdo a las normas generales</summary>
            <ul>
                <li> Normalmente las casillas deberán estar en blanco (<em>Indiferente</em>).</li>
                <li> Rellena en naranja (<em>Mejor no</em>) las horas en las que se prefiere no tener clases, por cualquier motivo.</li>
                <li> Rellena en verde claro (<em>Mejor sí</em>) las horas en las que se prefiere tener clase.</li>
                <li> Las casillas rojas (<em>Seguro que no</em>) indican las horas donde no se puede tener clase, <b>por un motivo justificado</b>.</li>
                <li> Las casillas verde oscuro (<em>Seguro que sí</em>) indican las horas en las que necesariamente se debe tener clase, <b>por un motivo justificado</b>.</li>
                <li> <mark>No se garantiza el cumplimiento de ninguna desiderata</mark> que no esté debidamente justificada.</li>
            </ul>
        </details>
    </div>

    <script src="/static/desiderata.js"></script>
    <script>
    getDesiderataForUser("{{auth.nameid}}");
    setInterval(updateDesiderataForUser("{{auth.nameid}}"), 1000);
    </script>

    {% endif %}

{% endblock %}