{% extends "base.html" %}
{% set active_sec = 'Despacho' %}
{% block head %}
    {% if not auth %}
        <meta http-equiv="refresh" content="0; URL=/">
    {% endif %}
{% endblock %}

{% block content %}

    {% if auth %}

    <h1>Actualización de datos {{aa.givenName}} {{aa.sn}}</h1>

    <div class="text-danger" id="errors"></div>
    <div class="form-group">
        <label for="despacho">Despacho actual:</label>
        <input name="despacho" id="despacho" class="form-control" aria-describedby="despachoHelp">
        <small id="despachoHelp" class="form-text text-muted">Introduce el despacho incluyendo el nombre del edificio (e.g. <mark>Sabatini 1.50</mark>).</small>
    </div>
    <div id="pending" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>

    <script src="/static/despacho.js"></script>
    <script>
        getDespachoForUser("{{auth.nameid}}");
        setInterval(updateDespachoForUser("{{auth.nameid}}"), 1000);
    </script>

    {% endif %}
 
{% endblock %}
